
.modal {
  width: 100%;
  height: 100vh;
  background: #666;
}

.closeButton {
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
}
.shadow {
  z-index: 2;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.mainModal {
  width: 300px;
  height: 300px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  text-align:center;
  overflow: hidden;
}

.hideModal {
  animation: 2s hide;
  transform: scale(1);
  opacity: 1;
  background: #fff;
  width: 30px;
  height: 30px;
  position: fixed;
  left: calc(100% - 30px);
  top: calc(100% - 30px);
  margin: -15px 0 0 -15px;
  overflow: hidden;
  z-index: 2;
}

@keyframes hide {
  from {
    z-index: 2;
    transform: scale(1);
    opacity: 1;
    width: 300px;
    height: 300px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
  }
  to {
    transform: scale(0.2);
    opacity: 1;
    z-index: 2;
    background: #fff;
    width: 30px;
    height: 30px;
    position: fixed;
    left: calc(100% - 30px);
    top: calc(100% - 30px);
    margin: -15px 0 0 -15px;
  }
}

.showModal {
  opacity: 1;
  z-index: 2;
  animation: show 1s;
  transform: scale(1);
}

@keyframes show {
  from {
    transform: scale(0);
    opacity: 0;
    z-index: -1;
  }
  to {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }
}

.tips {
  position: fixed;
  bottom: 20px;
  right: 50px;
  width: 60px;
  height:30px;
  line-height: 30px;
  background: #fff;
  color: #000;
  opacity: 0;
  z-index: -1;
  transform: scale(0);
}

.showTips {
  animation: 2s 3s 0 backwards showTips;
  overflow: hidden;
  transform: scale(1);
  opacity: 1;
  z-index: 2;
  position: fixed;
  bottom: 20px;
  right: 50px;
  width: 60px;
  height:30px;
  line-height: 30px;
}

@keyframes showTips {
  from {
    transform: scale(1);
    opacity: 0;
    z-index: -1;
  }
  to {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }
}